@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

/* SIDEBAR SECTION */
aside {
    background-color: #2b2d42;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 50px;
    padding: 20px;
}

.branding-icon,
.sidebar-icons {
    width: 50px;
    filter: invert(99%) sepia(2%) saturate(347%) hue-rotate(246deg) brightness(116%) contrast(100%);
}

.sidebar-icons {
    width: 25px;
}

.branding a,
.sidebar-nav a{
    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.branding span,
.sidebar-nav span {
    color: white;
    font-weight: 500;
}

.branding span {
    font-size: 24px;
}

.sidebar-nav a img {
    justify-self: center;
}

.sidebar-nav span {
    font-size: 18px;
}

/* HEADER SECTION */

header {
    background-color: #8d99ae;
    grid-column: 2;
    grid-row: 1;

    display: grid;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.first-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.first-row-left {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.search-icon {
    display: block;
}

#site-search {
    height: 25px;
    border-radius: 25px;
    padding-left: 10px;
}

.first-row-right {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 20px;
    justify-items: right;
}

.user-name {
    font-weight: 500;
}

.second-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.second-row-left {
    display: grid;
    grid-template-columns: auto 10fr;
    align-items: center;
    gap: 20px;
}

.greeting-user-name {
    font-size: 18px;
    font-weight: 500;
}

.second-row-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
}

.second-row-right button {
    background-color: #2b2d42;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
}

.search-icon,
.notification-icon{
    width: 25px;
}

.user-avatar {
    width: 40px;
}

.user-avatar-big {
    width: 60px;
}

main {
    background-color: #edf2f4;
    grid-column: 2;
    grid-row: 2;
}